<div class="classic-div">
  <h3>Header</h3>
  <ol>
    <li>
      We can do
    </li>
    <li>
      All of our classic HTML
    </li>
    <li>
      Inside of component templates
    </li>
    <li>
      evaluated typescript: {{1+2+3+4}}
    </li>
    <li>
      evaluated typescript using our state: {{myString}}
    </li>
    <li>
      current value of x : {{x}}
    </li>
  </ol>
  <!-- event binding: -->
  <button (click)="incrementNumber()">Click me!</button>
  <button (click)="console.log('ad-hoc event binding')">Console Button</button>)
</div>